@model IEnumerable<FindHotel.Models.Room>
<!DOCTYPE html>

<html>
<head>
    <title>Забронировать отель</title>
</head>
<body>
    <h1>Забронировать отель</h1>
    <h2>@ViewBag.HotelName</h2>
    <p>Рейтинг отеля: @ViewBag.HotelRating</p>
    <p>Уровень сервиса: @ViewBag.HotelServiceLevel</p>
    <p>Количество номеров:@ViewBag.HotelNumRooms</p>
    <table>
        <tr>
            <td>Класс номера: </td>
            <td>Вместимость номера: </td>
            <td>Цена: </td>
        </tr>
        @foreach (var room in Model)
        {
            var check = room.HotelId;
            if(check == ViewBag.HotelId)
            { 
            <tr>
                <td>@room.NumClass</td>
                <td>@room.Capacity</td>
                <td>@room.Price</td>
                <td><a href="~/Home/AddOrder/@room.HotelId">Заказать номер</a></td>
            </tr>
            }
        }
    </table>
</body>
</html>