@model IEnumerable<FindHotel.Models.Hotel>
@if (User.Identity.IsAuthenticated)
{
    <h2>Личный кабинет</h2>
    <p>Добро пожаловать, @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    <div>
        <p>Почта: </p>
        <p>Фамилия: </p>
        <p>Имя: </p>
        <p>Дата рождения: </p>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<!DOCTYPE html>

<html>
<head>
    <title>Отели</title>
</head>
<body>
    <h3>Отели</h3>
    <table>
        <tr>
            <td>id</td>
            <td>Название</td>
            <td>Город</td>
            <td>Рейтинг</td>
            <td>Уровень сервиса</td>
            <td>Количество комнат</td>
        </tr>
        @foreach (var hotel in Model)
        {
            <tr>
                <td>@hotel.Id</td>
                <td>@hotel.Name</td>
                <td>@hotel.City</td>
                <td>@hotel.Rating</td>
                <td>@hotel.ServiceLevel</td>
                <td>@hotel.NumRooms</td>

            </tr>
        }
    </table>
    <a href="~/Home/AddHotel">Добавить отель</a>
</body>
</html>