<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Название отеля</th>
                <th>Город</th>
                <th>Рейтинг</th>
                <th>Количество номеров</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hotel in hotels)
            {
                <tr>
                    <td>@hotel.id</td>
                    <td>@hotel.name</td>
                    <td>@hotel.city</td>
                    <td>@hotel.rating</td>
                    <td>@hotel.numRooms</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Hotel> hotels { get; set; }
    protected async override Task OnInitializedAsync()
    {
        hotels = new List<Hotel>()
        {
            new Hotel()
            {
                id = 1,
                name = "Plaza",
                city = "Москва",
                rating = 9.3,
                numRooms = 35
            },
            new Hotel()
            {
                id = 2,
                name = "Есенин",
                city = "Рязань",
                rating = 6.8,
                numRooms = 15
            },
            new Hotel()
            {
                id = 3,
                name = "Mercure Nizhny Novgorod Center",
                city = "Нижний Новгород",
                rating = 9.3,
                numRooms = 26
            },
            new Hotel()
            {
                id = 3,
                name = "Холидей Инн Калининград",
                city = "Калининград",
                rating = 9.3,
                numRooms = 42
            },
        };
        int Addid = 0;
        foreach (var item in hotels)
        {
            Addid++;
        }
        for (var i = 0; i < 10; i++)
        {
            hotels.Add(new Hotel() { id = Addid, name = "testHotel", city = "testCity", rating = 5, numRooms = 22 });
            Addid++;
        }
        
    }
    public static void AddHotels(List<Hotel> hotels,int count)
    {
        int Addid = 0;
        foreach (var item in hotels)
        {
            Addid++;
        }
        for(var i = 0;i<count;i++)
        {
            hotels.Add(new Hotel(){ id = Addid,name="testHotel",city = "testCity", rating = 5, numRooms=22});
            Addid++;
        }

    }




}